#add-to-favorites-button {
  height: 30px;
  width: fit-content;
  padding: 5px 10px;
  background-color: lightgreen;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: "pointer";
  /* border-radius: 5px; */
}

#add-to-favorites-button:hover {
  cursor: pointer;
}

#add-to-favorites-button > div {
  width: 1.2rem;
}

#heart {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: add-to-favorite 500ms;
}

@keyframes add-to-favorite {
  0% {
    opacity: 0;
    font-size: 2rem;
  }
  100% {
    opacity: 1;
    font-size: 1rem;
  }
}
